<!-- 
<div class="wrapper d-flex flex-column min-vh-100">
    <app-header></app-header>
    
    <div class="container-fluid flex-grow-1">
      <div class="row flex-nowrap">
       
        <div class="col-lg-3 col-xl-2 d-none d-lg-block sidebar bg-light">
          <app-sidebar></app-sidebar>
        </div>
        
       
        <button class="navbar-toggler position-fixed top-0 start-0 m-2 d-lg-none" 
                type="button" 
                (click)="toggleSidebar()">
          <span class="pi pi-bars"></span>
        </button>
        
       
        <div class="offcanvas offcanvas-start d-lg-none" 
             [class.show]="sidebarVisible" 
             tabindex="-1">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title">Menu</h5>
            <button type="button" class="btn-close" 
                    (click)="toggleSidebar()"></button>
          </div>
          <div class="offcanvas-body p-0">
            <app-sidebar></app-sidebar>
          </div>
        </div>
        
        
        <main class="col px-lg-4 py-3 main-content">
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
    
    <app-footer></app-footer>
  </div> -->


  
  <div class="wrapper d-flex flex-column min-vh-100">
    <!-- Header -->
    <app-header class="fixed-top header"></app-header>
  
    <!-- Main layout -->
    <div class="container-fluid flex-grow-1 pt-header">
      <div class="row flex-nowrap">
        
        <!-- Desktop Sidebar -->
        <div class="col-lg-3 col-xl-2 d-none d-lg-block sidebar bg-light">
          <app-sidebar></app-sidebar>
        </div>
  
        <!-- Sidebar Toggle Button (Mobile) -->
        <button class="navbar-toggler d-lg-none position-fixed top-0 start-0 m-2" type="button" (click)="toggleSidebar()">
          <span class="pi pi-bars"></span>
        </button>
  
        <!-- Mobile Sidebar Offcanvas -->
        <div class="offcanvas offcanvas-start d-lg-none" [class.show]="sidebarVisible" tabindex="-1">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title">Menu</h5>
            <button type="button" class="btn-close" (click)="toggleSidebar()"></button>
          </div>
          <div class="offcanvas-body p-0">
            <app-sidebar></app-sidebar>
          </div>
        </div>
  
        <!-- Main Content -->
        <main class="col px-lg-4 py-3 main-content">
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  
    <!-- Footer -->
    <app-footer class="footer mt-auto"></app-footer>
  </div>
  