

:host {
  display: block;
  height: calc(100vh - 56px - 48px); // full viewport minus header and footer
  overflow-y: auto;
  background-color: #f8f9fa;
  padding: 1rem;
  position: sticky;
  top: 56px; // match header height to pin it below header
}

ul.list-unstyled {
  padding-left: 0.5rem;
  font-size: 0.9rem;

  a {
    padding-left: 1rem;
  }
}
