<div class="container mt-4">
    <h4 class="mb-3">My Assigned Stocks</h4>
  
    <p-table [value]="stockAssignments" [paginator]="true" [rows]="5" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Stock Name</th>
          <th>Assigned Quantity</th>
          <th>Assignment Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-stock>
        <tr>
          <td>{{ stock.stockName }}</td>
          <td>{{ stock.assignedQuantity }}</td>
          <td>{{ stock.assignmentDate | date: 'mediumDate' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  