@media (max-width: 768px) {
    p-dropdown, p-multiSelect {
      width: 100% !important;
    }
  
    .p-dialog .p-dialog-content {
      padding: 1rem !important;
    }
  
    .btn {
      width: 100%;
    }
  }
  