@media (max-width: 768px) {
    // p-dropdown, p-multiSelect {
    //   width: 100% !important;
    // }
  
    .p-dialog .p-dialog-content {
      padding: 1rem !important;
    }
  
    .btn {
      width: 100%;
    }
  }
  .button-group {
    display: flex;
    align-items: center;
    gap: 10px; /* adjust spacing as needed */
    margin-bottom: 1rem;
  }
  ::ng-deep .p-multiselect-token {
    max-height: 100px;
    overflow-y: auto;
  }
  