
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top px-3">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Human Resourse Management System</a>
      
      <div class="d-flex align-items-center gap-3" *ngIf="isLoggedIn">
        <span class="d-none d-md-inline text-white">Hi, {{ userName }}</span>
        <button pButton type="button" icon="pi pi-user" 
                class="p-button-rounded p-button-secondary p-button-sm d-none d-md-inline-block"
                [routerLink]="['/profile']" pTooltip="Profile"></button>
                
        <button pButton type="button" icon="pi pi-sign-out" 
                class="p-button-rounded p-button-danger p-button-sm"
                (click)="logout()" pTooltip="Logout"></button>
                
        <!-- Mobile menu toggle -->
        <button class="navbar-toggler d-lg-none ms-2" type="button" 
                (click)="toggleMobileMenu()">
          <span class="pi pi-ellipsis-v text-white"></span>
        </button>
      </div>
    </div>
  </nav>